.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.poll-form {
    width: 45%; /* Set width for poll form */
    padding: 20px;
    border: 2px solid #ccc; /* Add outline */
    border-radius: 5px;
}


.chart-container {
    margin-top: 0px;
}
